






<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication4</title>
    <environment names="Development">
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="~/lib/angular-material/angular-material.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <style>
        .layout-content, .doc-content {
            max-width: 864px;
            margin: 16px;
            box-sizing: border-box;
        }
    </style>
</head>

<body ng-app="CrmApp" layout="row" ng-cloak>
    <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2" md-component-id="left" hide-print md-is-locked-open="$mdMedia('gt-sm')">
        <header class="nav-header">
            <a ng-href="/" class="docs-logo" href="/"> <img src="~/img/logo.svg" /><h1 class="docs-logotype md-heading">Angular Crm</h1></a>
        </header>

        <md-content flex role="navigation">
            <ul class="docs-menu">
                <md-button class="md-button-toggle" aria-expanded="true">
                    <div flex layout="row">
                        Crm Angular Material <span flex></span>
                        <span aria-hidden="true" class="md-toggle-icon" ng-class="toggled">
                            <md-icon md-svg-src="md-toggle-arrow"></md-icon>
                        </span>
                    </div>
                    <span class="md-visually-hidden">@*    Toggle {{isOpen()? 'expanded' : 'collapsed'}}*@</span>
                </md-button>
                <ul id="docs-menu-section.name" class="menu-toggle-list">

                    <li><md-button ng-href="/home/index/?id=autocomplete" ng-click=""> Autocomplete</md-button> </li>
                    <li><md-button ng-href="/home/index/?id=bottomsheet" ng-click=""> Buttom Sheet</md-button> </li>
                    <li><md-button ng-href="/home/index/?id=button" ng-click=""> Button</md-button> </li>
                    <li><md-button ng-href="/home/index/?id=card" ng-click=""> Card </md-button> </li>
                    <li><md-button ng-href="/home/index/?id=checkbox" ng-click=""> Checkbox </md-button> </li>
                    <li><md-button ng-href="/home/index/?id=chips" ng-click=""> Chips </md-button> </li>
                    <li><md-button ng-href="/home/index/?id=datepicker" ng-click=""> Datepicker</md-button> </li>
                    <li><md-button ng-href="/home/index/?id=dialog" ng-click=""> Dialog </md-button> </li>
                    <li><md-button ng-href="/home/index/?id=FABSpeedDial" ng-click=""> FAB Speed Dial </md-button> </li>
                    <li><md-button ng-href="/home/index/?id=GridList" ng-click=""> Grid List </md-button> </li>
                    <li><md-button ng-href="/home/index/?id=Icon" ng-click=""> Icon</md-button> </li>
                    <li><md-button ng-href="/home/index/?id=Input" ng-click=""> Input</md-button> </li>
                </ul>


            </ul>
        </md-content>
    </md-sidenav>
    <div layout="column" tabIndex="-1" role="main" flex>
        <md-toolbar class="md-whiteframe-glow-z1 site-content-toolbar">
            <div class="md-toolbar-tools docs-toolbar-tools" tabindex="-1">
                <md-button id="menuButton" class="md-icon-button md-button md-ink-ripple hide-gt-sm" type="button"
                           ng-click="toggleSidenav('left')"
                           hide-gt-sm aria-label="Menü Aç/Kapa">
                    <md-icon md-svg-src="/img/icons/ic_menu_24px.svg" class="ng-scope ng-isolate-scope" aria-hidden="true"></md-icon>
                </md-button>


                <div layout="row" flex class="fill-height">

                    TOOL-
                    <span flex></span> <!-- use up the empty space -->
                    BAR

                </div>
            </div>
        </md-toolbar>


        <md-content md-scroll-y layout="column" flex>
            <div ng-view layout-padding flex="noshrink">
                @RenderBody()
            </div>

            <div layout="row" flex="noshrink">
                <div id="license-footer">
                    CRM App &copy;2014&#8211;{{thisYear}}.
                </div>
            </div>
        </md-content>
    </div>
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/angular/angular.min.js"></script>
        <script src="~/lib/angular-route/angular-route.min.js"></script>
        <script src="~/lib/angular-animate/angular-animate.min.js"></script>
        <script src="~/lib/angular-aria/angular-aria.min.js"></script>
        <script src="~/lib/angular-messages/angular-messages.min.js"></script>
        <script src="~/lib/angular-material/angular-material.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    <script>

        // Server Variables Pass to Client Side
        var ServerUserName = "Mehmet";


    </script>
    @RenderSection("scripts", required: false)
</body>
</html>